body {
	background-color: none;
}

h1 {
	align-self: center;
	font-family: 'Bowlby One SC', bold;
	font-size: 100px;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

.title {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
  margin-bottom: -20px;
}

.subtitle {
	position: fixed;
  top: 40%;
  left: 45%;
  padding-top: 0px;
}